%h3 Home
%a{href: "/api/v1/oauth/connect"}
  Connect with Instagram
%ul
  - if @instagrams.size > 0
    - @instagrams.each do |item|
      %li
        %a{ herf: item.images.thumbnail.url }
          = image_tag item.images.thumbnail.url
        %div
          By
          = item.user.username
        %div
          Date
          = item.created_time
        %div
          = item.comments.count
          comment(s)
        %div
          = item.likes.count
          likes

